---
name: Build status

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  eclint:
    runs-on: ubuntu-latest
    container: greut/eclint:latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: git config
        run: git config --global --add safe.directory "${GITHUB_WORKSPACE:-$(pwd)}"

      - name: linting based on .editorconfig
        run: eclint

  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry
      run: python -m pip install --upgrade pip poetry

    - name: Install dependencies
      run: poetry install --no-interaction

    - name: Check with black
      run: poetry run black --diff --check gandi_tf/ tests/

    - name: Lint with flake8
      run: poetry run flake8 gandi_tf/ tests/

    - name: Check with pylint
      run: poetry run pylint gandi_tf/ tests/

    - name: Check with mypy
      run: poetry run mypy gandi_tf/ tests/
